server:
  port: 5001

zuul:
  ignoredServices: '*'
  routes:
    jalgoarena-judge: /judge/api/**
    jalgoarena-problems: /problems/api/**
    jalgoarena-auth: /auth/**
    jalgoarena-submissions: /submissions/api/**

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:5000/eureka/}

---
spring:
  profiles: heroku
eureka:
  instance:
    hostname: ${APP_NAME:jalogoarena-api}.herokuapp.com
    nonSecurePort: 80

logging:
  level:
    ROOT: INFO
    org.springframework.web: INFO
